.wrap-app {
  width: 500px;
  margin: 3em auto;
  box-shadow: 0px 0px 10px #d8d8d8;
  border-radius: 20px;
  overflow: hidden;
}
.wrap-app h1 {
  font-size: 22px;
}
.message {
  color: #469e46;
  margin: 0;
}
.txt-c {
  text-align: center;
}
.login-head {
  background-color: #00a4fe;
  height: 60px;
  margin-bottom: 20px;
}
.inp {
  width: 100%;
  display: block;
  background-color: #e0e0e0;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  color: #414141;
  margin-bottom: 20px;
  outline: none;
}
.frm-wrap {
  padding: 20px 40px;
  text-align: center;
}
.wrap-login h1 {
  font-size: 22px;
  margin: 0;
}
.btn {
  text-transform: uppercase;
  font-weight: 500;
  background-color: #03a3fe;
  color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  margin: 20px 0;
}
.wrap-user span {
  font-weight: 400;
}
.wrap-user {
  text-align: left;
  font-weight: 700;
}





.autocenter{
  margin: auto;
  text-align: center;
}

#user_image_div{
  height: 200px;
  padding: 20px;
}

#user_image{
  max-width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 90px;
}
.content-div{
  padding: 10px;
  margin-left: 300px;
}

#content_body{
  padding: 10px;
}

.request_container_div {
  box-shadow: 0px 0px 10px #d8d8d8;
  border-radius: 20px;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.dates_preffered_div{
  padding-left: 30px;
}

.float_right_item{
  float: right;
  width: 400px;
}
.inline_block_item{
  display: inline-block;
}
.input_item{
  outline: none;
  border: none;
  border-bottom: 1px solid #8080808f;
}
#request_permission_textarea_div{
  height: 200px;
}
#request_permission_textarea{
  height: inherit;
}
#request_permission_form_div{
  box-shadow: 0px 0px 10px #d8d8d8;
  border-radius: 20px;
  padding: 2px 80px;
}
#request_permission_form_div input{
  outline: none;
}


